* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 128, 85);
    padding: 15px 0;
}

.header-container h1 {
    font-size: 28px;
    color: rgb(252, 252, 252);
}

.content-container {
    max-width: 580px;
    height: max-content;
    margin: 0 auto;
    margin-top: 20px; margin-bottom: 10px;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    overflow: auto;
}

.content-container:nth-child(1) {
    position: relative;
    padding: 20px 20px 70px 20px;
    
}

.content-container:nth-child(2), .content-container:nth-child(3){
    padding: 20px 2px 0 2px;
}

.content-container h2 {
    color: green;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    
}

.add-book {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form {
    display: block;
}

.form-group input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: black solid 2px;
}

.form-group label {
    display: block;
    font-size: 15px;
    color: green;
    font-weight: bold;
    margin-top: 10px; margin-bottom: 5px;
}

.btn-submit {
    display: block;
    margin-top: 12px; 
    padding: 7px 12px;
    position: absolute;
    right: 30px;
    background-color: green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: green solid 2px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.uncomplete-book, .complete-book {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.list-book, .list-done {
    width: 100%;  
}

.item {
    width: 87%;
    padding: 20px 30px;
    margin: 0 auto;
    margin-top: 10px; margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    position: relative;
}

.item h3 {
    font-weight: bolder;
    font-size: 20px;
    
}

.item h4 {
    font-weight: normal;
}

.check-button {
    position: absolute;
    top: 30px;
    right: 20px;
}

.undo-button, .trash-button{
    position: absolute;
    top: 35px;
    right: 20px;
}

.check-button {
    background: url('../assets/check-outline.svg');
    background-size: contain;
    width: 50px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button{
    background: url('../assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    right: 70px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button{
    background: url('../assets/undo-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:focus, .trash-button {
    outline: none;
}

@media screen and (max-width: 420px) {
    .content-container {
        width: 95%;
    }

    .header-container h1 {
        font-size: 22px;
        line-height: 30px;
    }

    .content-container h2 {
        font-size: 18px;
    }

    .item {
        padding: 20px 20px;
        margin-left: 15px; margin-right: 15px;
        width: 92%;
        box-sizing: border-box;
    }

    .item h3 {
        font-size: 16px;
    }
}
